@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To RIT HCC</h1>
    <div class="center-flex">
        <img src="/img/RIT-Tigers-900x0-646482951.png" alt="RIT and Tiger" />
    </div>
    <div class="center-flex">
        <h2>Quick Links:</h2>
    </div>
    <div class="center-flex">
        <div class="card"><a href="./Home/About">About</a></div>
        <div class="card"><a href="./Home/Degrees">Degrees</a></div>
        <div class="card"><a href="./Home/Minors">Minors</a></div>
    </div>
</div>
